# Database credentials
database_user.json

# Virtual environment files
venv/

# Python cache files
__pycache__/

# macOS Finder metadata
.DS_Store

# log files
*.log

# temporary files
*.tmp

# PID files
*.pid

# SSL certificates
*.pem

# Environment variables
env.sh
.env
env

# Upload folder
uploads/
